body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    overflow: hidden;
}

nav ul li {
    float: left;
    margin: 10px;
}

nav ul li button {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border: none;
    background-color: #555;
    cursor: pointer;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #555;
    width: 100px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    float: none;
    border-top: 1px solid #777;
}

nav ul li ul li:hover {
    background-color: #777;
}

button {
    background-color: #fff;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 3px 7px 5px;
    transition: transform 400ms, box-shadow 400ms;
}

button:active {
    box-shadow: 2px 3px 1px;
    transform: translate(4px, 6px);
}

#blog {
    display: flex;
    margin: 20px;
}

#lmenu {
    flex: 1;
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    height: 1200px;
    width: 20vw;
}

#lmenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

li {
    margin: 10px;
}

#content {
    flex: 3;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    height: 1200px;
    width: 80vw;
}

article {
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

 section h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

p {
    line-height: 1.6;
    color: #555;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #000;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Media query */
@media screen and (max-width: 600px) {
    #blog {
        flex-direction: column;
    }
    #content {
        width: 100vw;
    }
    #lmenu {
        width: 100vw;
        height: 20vh;
    }
    #lmenu ul {
        flex-direction: row;
        justify-content: center;
    }
}
